{% extends "classpath:/templates/student/nav.twig" %}

{% block content %}
    <div class="table-container">
        <div class="header-container">
                <h1>List All Quest</h1>
            </div>
        <table class="table">
            <thead>
            <tr>
                <th>Quest ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Value</th>
                <th>Experience</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody>
                {% for quest in questList %}
                    <tr>
                        <td>{{ quest.id }}</td>
                        <td>{{ quest.name }}</td>
                        <td>{{ quest.description }}</td>
                        <td>{{ quest.value }}</td>
                        <td>{{ quest.experience }}</td>
                        <td>{{ quest.category }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}