{% extends "classpath:/templates/student/nav.twig" %}

{% block content %}
    <div class="table-container">
        <div class="header-container">
            <div class="title">View inventory</div>
            </div>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Spent money</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody>
                {% for artifact in inventoryList %}
                    <tr>
                        <td>{{ artifact.name }}</td>
                        <td>{{ artifact.description }}</td>
                        <td>{{ artifact.date }}</td>
                        <td>{{ artifact.price }}</td>
                        <td>{{ artifact.getCategory() }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}