{% extends "classpath:/templates/admin/nav.twig" %}

{% block content %}
    <div class="main-card">
        <div class="title">About user</div>
        <div class="form-container">
            <div class="profile">
                <img src="http://placehold.it/380x500" alt="" class="profile" />
                <h4>Username: {{ user.firstName }} {{ user.lastName }}</h4>
                <small><cite title="San Francisco, USA">email: {{ user.email }}<i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                <p>
                    <i class="glyphicon glyphicon-envelope"></i>Money: {{ user.wallet.money }}<br />
                    <i class="glyphicon glyphicon-envelope"></i>Experience: {{ user.wallet.money }}<br />
            </div>
        </div>
        </div>
{% endblock %}