{% extends "classpath:/templates/admin/admin-menu.twig" %}

{% block content %}
    <div class="table-container">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>e-mail</th>
                <th>edit</th>
            </tr>
            </thead>
            <tbody>
            {% set ID = 1 %}
                {% for mentor in mentorList %}
                    <tr>
                        <td>{{ID}}</td>
                        <td>{{mentor.firstName}}</td>
                        <td>{{mentor.lastName}}</td>
                        <td>{{mentor.email}}</td>
                        <td>
                            <form action = "" method = "post">
                                <button type="submit" name="id" value={{ mentor.id }} class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-cog">edit</span>
                                </button>
                            </form>
                        <td>
                    <tr>
                    {% set ID = ID + 1 %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}