{% extends "classpath:/templates/mentor/nav.twig" %}

{% block content %}
    <div class="main-container">
        <div class="header-container">
            <h1>Edit Student</h1>
        </div>
        <div class="container">
            <form method="POST">
                <fieldset>
                    <legend>Legend:</legend>
                    First name:<br>
                    <input type="text" placeholder="enter first name" name = "first-name" value="{{student.firstName}}"><br>
                    Last name:<br>
                    <input type="text" placeholder="enter last name" name = "last-name" value="{{student.lastName}}"><br>
                    email:<br>
                    <input type="email" placeholder="enter email"name = "email" value="{{student.email}}"><br>
                    <input type="hidden" name="class" value="2016"/>
                    <input type="hidden" name="password" value="{{student.password}}"/>
                    {{student.password}}
                    <input type="hidden" name="id" value="{{student.id}}"/>
                    <input type="submit" value="Submit">
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
