{% extends "classpath:/templates/mentor/nav.twig" %}

{% block content %}
        <div class="main-card">
            <div class="title">Edit quest</div>
            <div class="form-container">
                <form method="POST">
            <fieldset>
                <div class = "input-text">Quest Name:</div><br>
                <input type="text" placeholder="name" name="name" value="{{ quest.name }}"><br>
                <div class = "input-text">Quest description</div><br>
                <input type="text" placeholder="description" name="description" value="{{ quest.description }}"><br>
                <div class = "input-text">Quest value</div><br>
                <input type="text" placeholder="value" name="value" value="{{ quest.value }}"><br>
                <div class = "input-text">Quest experience</div><br>
                <input type="text" placeholder="experience" name="experience" value="{{ quest.experience }}"><br>
                <div class = "input-text">Quest category</div><br>
                <input type="text" placeholder="category" name="category" value="{{ quest.category }}"><br>
                <input type="submit" value="Submit">
                <input type="hidden" name="id" value="{{quest.id}}"/>

            </fieldset>
        </form>
    </div>
{% endblock %}