{% extends "classpath:/templates/mentor/nav.twig" %}

{% block content %}
    <div class="main-card">
        <div class="title">About user</div>
        <div class="form-container">
            <div class="profile">
                <img src="https://openclipart.org/download/247324/abstract-user-flat-1.svg" alt="" class="profile2" />
                <h4>Username: {{ user.firstName }} {{ user.lastName }}</h4>
                <small><cite title="San Francisco, USA">email: {{ user.email }}<i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                <p>
                    <i class="glyphicon glyphicon-envelope"></i>Money: {{ user.wallet.money }}<br />
                    <i class="glyphicon glyphicon-envelope"></i>Experience: {{ user.wallet.money }}<br />
            </div>
        </div>
        </div>
{% endblock %}